

/* ======================================ALL PAGE START====================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../gambar/gambar-background.png);
}

nav.main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../gambar/gambar-nav.png);
    height: 80px;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    flex-wrap: wrap;
}

.left-side ul {
    list-style: none;
    width: 120px;
    display: flex;
    justify-content: space-around;
    background-color: #009688;
    border-radius: 3px;
    padding: 10px;
    box-sizing: border-box;
}

.left-side ul li:hover a.menu {
    color: #b2ff00;
}

.left-side ul li a {
    padding: 10px 18px;
}

.left-side .submenu ul li a {
    display: flex;
    justify-content: space-between;
}

.left-side .submenu ul li a img {
    width: 0.5em;
}

.submenu {
    display: none;
}

.left-side ul li:hover .submenu {
    height: 20px;
    display: block;
    position: absolute;
    background: #009688;
    margin-top: 8px;
    margin-left: -10.5px;
    border-radius: 2px;
    font-size: small;
    z-index: 1;
}

.left-side ul li:hover .submenu ul {
    display: block;
    font-size: small;
    background-color: #009688;
    padding: 0;
}

.left-side ul li:hover .submenu ul li {
    width: 120px;
    padding-left: 3.5px;
    border-bottom: 1px dotted white;
    border-radius: 0;
    text-align: left;
    font-size: 90%;
    box-sizing: border-box;
    background-color: transparent;
}

.left-side ul li:hover .submenu ul li a {
    padding-left: 10px;
}

.left-side ul li:hover .submenu ul li:last-child {
    border-bottom: none;
}

.left-side ul li:hover .submenu ul li a:hover {
    color: #b2ff00;
}

.submenu2 {
    display: none;
}

.sub-submenu:hover .submenu2 {
    position: absolute;
    display: block;
    margin-top: -34px;
    margin-left: 116px;
    background: #009688;
    border-radius: 2px;
}

.left-side ul li:hover .submenu ul li:hover a.menu2 {
    color: #b2ff00;
}

.left-side ul li a {
    color: white;
    text-decoration: none;
}

.left-side ul li a:hover {
    color: #b2ff00;
}

.left-side ul li a img {
    width: 15px;
    padding-right: px;
}

.right-side {
    visibility: hidden;
}

.right-side ul {
    width: 50vw;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    box-sizing: border-box;
}

.right-side ul li a {
    width: 100%;
}

.right-side ul li span.span-home {
    display: block;
    height: 7px;
    width: 100%;
    background-color: #009688;
    border-radius: 5px;
    margin-top: 1px;
    transform: translateX(45);
}

.right-side ul li a:hover span.span-home {
    transition: 0.4s;
    height: 2px;
}

.right-side ul li a {
    color: white;
    text-decoration: none;
}

.right-side ul li a:hover {
    color: #b2ff00;
}

/* HAMBURGER MENU */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-around;
}

.menu-toggle input {
    position: absolute;
    width: 28px;
    height: 28px;   
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

/* HAMBURGER MENU ANIMATION */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:last-child {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-3px, -1px);
    background-color: #009688;
}

.menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0)
}

.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-3px, 0px);
    background-color: #009688;
}


.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #009688;
    border-radius: 3px;
    transition: all 0.5s;
}

.garis {
    height: 3px;
    width: 100vw;
    background-color: #009688;
    position: absolute;
    top: 80px;
}

.belakang-nav {
    height: 90px;
    width: 100%;
}

.footer {
    font-family: 'Courier New', Courier, monospace;
    height: 70px;
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer p {
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
}


.bottom-side {
    height: 100px;
}

/* CSS UNTUK MAIN ISIAN EACH PAGE */
.isian-data {
    height: 80vh;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
}

/* ================================FOOTER================================ */
.footer {
    font-family: 'Courier New', Courier, monospace;
    height: 70px;
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer p {
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
}


.bottom-side {
    height: 300px;
}

/* ======================================ALL PAGE END====================================== */




/* ======================================COVERAGE PAGE START====================================== */
.coverage-page1 {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.coverage-page1 .header {
    font-size: 3em;
}
/* ======================================COVERAGE PAGE END====================================== */




/* ======================================RESPONSIVE START====================================== */
@media screen and ( max-width: 800px) {
    .right-side ul {
        width: 60vw;
    }

    .coverage-page1 .header {
        font-size: 2.5em;
    }
    .coverage-page1 p {
        font-size: 0.8em;
    }
}

/* ukuran mobile */
@media screen and ( max-width: 576px) {
    .menu-toggle {
        visibility: hidden;
        display: flex;
    }

    .right-side {
        visibility: hidden;
    }
    
    .right-side ul {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 80%;
        flex-direction: column;
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../gambar/gambar-nav.png);
        align-items: center;
        justify-content: space-evenly;
        z-index: -2;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }
    
    .right-side ul.slide {
        opacity: 1;
        transform: translateX(0);
    }

    .right-side ul li span.span-home {
        display: none;
        height: 7px;
        width: 100%;
        background-color: #889796;
        border-radius: 5px;
        margin-top: 1px;
        transform: translateX(45);
    }

    .right-side ul li a {
        color: white;
        padding: 10px 60px;
        background-color: #009688;
        border: 1px solid #009688;
        border-radius: 25px;
    }

    .right-side ul li a:hover {
        color: #b2ff00;
        padding: 10px 60px 10px 60px;
        background-color: #00968880;
        border: 1px solid #b2ff00;
        border-radius: 25px;
        transition: 0.2s;
    }

    .coverage-page1 .header {
        font-size: 220%;
    }

    .coverage-page1 p {
        font-size: 0.7em;
    }
}


/* ======================================RESPONSIVE END====================================== */