* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../gambar/gambar-background.png);
}

.main {
    width: 100%;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.isidata {
    margin: auto;
    color: #009688;
    width: 250px;
    text-align: center;
    background-color: #00968810;
    border: 1px solid #b2ff00;
}

.isidata h1  {
    font-size: 150%;
    color: #b2ff00;
}

.form {
    text-align: center;
}

input {
    color: white;
    width: 17.5em;
    padding: 9px;
    margin: 0.5em;
    background-color: transparent;
    border: 1px solid #b2ff00;
    border-radius: 25px;
    text-align: center;
    box-sizing: border-box;
}

.form label a {
    text-align: center;
    text-decoration: none;
    color: #b2ff00;
    font-size: 80%;
}

.form label a:hover {
    text-decoration: underline;
    color: #009688;
}

#login {
    width: 17.5em;
    height: 40px;
    padding: 0;
    color: white;
    background-color: #009688;
    border-radius: 8px;
    border: 2px solid #009688;
}

#login:hover {
    color: #b2ff00;
    background-color: #00968840;
    border: 2px solid #b2ff00;
}

/* ================================FOOTER================================ */
.footer {
    font-family: 'Courier New', Courier, monospace;
    height: 70px;
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer p {
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
}


.bottom-side {
    height: 300px;
}


/* * {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    justify-content: center;
    font-family: sans-serif;
}

.main {
    width: 100%;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../gambar/gambar-background.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.isidata {
    margin: auto;
    color: black;
    width: 250px;
    background-color: lightblue;
    text-align: center;
    border: 1px solid black;
}

.isidata h1  {
    font-size: 150%;
}

input {
    width: 15em;
    padding: 1em;
    margin: 0.5em;
    border: 1px;
    text-align: center;
}

.form label a {
    text-align: center;
    text-decoration: none;
    color: red;
    font-size: 80%;
}

.form label a:hover {
    text-decoration: underline;
    color: #009688;
}

#login {
    width: 18em;
    height: 50px;
    margin: 0 0 0.4em 0 ;
    
    padding: 0;
    background-color: #009688;
}

#login:hover {
    background-color: #05756a;
    border: 2px solid #02413a;
} */

