* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../gambar/gambar-background.png);
}

.isian-data {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page1 {
    margin: auto;
    box-sizing: border-box;
    color: #b2ff00;
    background-color: #00968810;
}

.login-page1 h1 {
    color: #b2ff00;
}

.login-page1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 250px;
    text-align: center;
    color: #009688;
    border: 1px solid #b2ff00;
}

.form label a{
    text-align: center;
    text-decoration: none;
    color: #b2ff00;
    font-size: 80%;
}

.form label a:hover {
    text-decoration: underline;
    color: #009688;
}

input {
    color: white;
    width: 15em;
    padding: 1em;
    margin: 0.5em;
    text-align: center;
    background-color: transparent;
    border: 1px solid #b2ff00;
    border-radius: 25px;
    box-sizing: border-box;
}

#login {
    width: 17.5em;
    height: 40px;
    padding: 0;
    color: white;
    background-color: #009688;
    border-radius: 8px;
    border: 2px solid #009688;
}

#login:hover {
    color: #b2ff00;
    background-color: #00968840;
    border: 2px solid #b2ff00;
}

/* ================================FOOTER================================ */
.footer {
    font-family: 'Courier New', Courier, monospace;
    height: 70px;
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer p {
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
}


.bottom-side {
    height: 300px;
}