
/* =========================================================ALL PAGE START========================================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../gambar/gambar-background.png);
}

nav.main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../gambar/gambar-nav.png);
    height: 80px;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    flex-wrap: wrap;
}

    /* ================================LEFT SIDE================================ */
.left-side ul {
    list-style: none;
    width: 120px;
    display: flex;
    justify-content: space-around;
    background-color: #009688;
    border-radius: 3px;
    padding: 10px;
    box-sizing: border-box;
}

.left-side ul li:hover a.menu {
    color: #b2ff00;
}

.left-side ul li a {
    padding: 10px 18px;
}

.left-side .submenu ul li a {
    display: flex;
    justify-content: space-between;
}

.left-side .submenu ul li a img {
    width: 0.5em;
}

.submenu {
    display: none;
}

.left-side ul li:hover .submenu {
    height: 50px;
    display: block;
    position: absolute;
    background: #009688;
    margin-top: 8px;
    margin-left: -10.5px;
    border-radius: 2px;
    font-size: small;
    z-index: 1;
}

.left-side ul li:hover .submenu ul {
    display: block;
    font-size: small;
    background-color: #009688;
    padding: 0;
}

.left-side ul li:hover .submenu ul li {
    width: 120px;
    padding-left: 3.5px;
    border-bottom: 1px dotted white;
    border-radius: 0;
    text-align: left;
    font-size: 90%;
    box-sizing: border-box;
    background-color: transparent;
}

.left-side ul li:hover .submenu ul li a {
    padding-left: 10px;
}

.left-side ul li:hover .submenu ul li:last-child {
    border-bottom: none;
}

.left-side ul li:hover .submenu ul li a:hover {
    color: #b2ff00;
}

.submenu2 {
    display: none;
}

.sub-submenu:hover .submenu2 {
    position: absolute;
    display: block;
    margin-top: -34px;
    margin-left: 116px;
    background: #009688;
    border-radius: 2px;
}

.left-side ul li:hover .submenu ul li:hover a.menu2 {
    color: #b2ff00;
}

.left-side ul li a {
    color: white;
    text-decoration: none;
}

.left-side ul li a:hover {
    color: #b2ff00;
}

.left-side ul li a img {
    width: 15px;
    padding-right: px;
}

    /* ================================RIGHT SIDE================================ */
.right-side ul {
    width: 50vw;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    box-sizing: border-box;
}

.right-side ul li a {
    width: 100%;
}

.right-side ul li span.span-home {
    display: block;
    height: 7px;
    width: 100%;
    background-color: #009688;
    border-radius: 5px;
    margin-top: 1px;
    transform: translateX(45);
}

.right-side ul li a:hover span.span-home {
    transition: 0.4s;
    height: 2px;
}

.right-side ul li a {
    color: white;
    text-decoration: none;
}

.right-side ul li a:hover {
    color: #b2ff00;
}

    /* ================================HAMBURGER MENU================================ */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-around;
}

.menu-toggle input {
    position: absolute;
    width: 28px;
    height: 28px;   
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:last-child {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-3px, -1px);
    background-color: #009688;
}

.menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0)
}

.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-3px, 0px);
    background-color: #009688;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #009688;
    border-radius: 3px;
    transition: all 0.5s;
}

.garis {
    height: 3px;
    width: 100vw;
    background-color: #009688;
    position: absolute;
    top: 80px;
}

.belakang-nav {
    height: 90px;
    width: 100%;
}

    /* ================================FOOTER================================ */
.footer {
    font-family: 'Courier New', Courier, monospace;
    height: 70px;
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer p {
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
}


.bottom-side {
    height: 300px;
}

    /* ================================FORMAT ISIAN ALL================================ */
.isian-data {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.isian-data h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.isian-data p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 20px;
}
/* =========================================================ALL PAGE END========================================================= */




/* =========================================================MAIN PAGE START========================================================= */
#main-content {
    clear:both;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    position: absolute;
    top:  50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

#main-content h2 {
    margin: 10px;
    font-size: 300%;
    line-height: 25px;
}

#main-content p {
    margin: 1px auto;
    line-height: 25px;
}

div.tambahMain  {
    height: 650px;
}
/* =========================================================MAIN PAGE END========================================================= */




/* =========================================================HOME PAGE START========================================================= */
.home-page1 {
    display: flex;
    justify-content: center
}

.home-page1 img {
    border: 5px solid #009688;
    border-radius: 500px;
    width: 300px;
}

.home-page2 {
    height: 100px;
}

.home-page2 h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 250%;
    padding: 2px;
}

.home-page2 h2 {
    font-size: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 2px;
    text-align: center;
}
/* =========================================================HOME PAGE END========================================================= */




/* =========================================================DATA ITEM PAGE START========================================================= */
.dataItem-page2 {
    padding: 20px;
    box-sizing: border-box;
}

.dataItem-page2 table.tabel {
    border-collapse: collapse;
}

.dataItem-page2 table.tabel th, .dataItem-page2 table.tabel td {
    border: 1px solid #b2ff0070;
    padding: 0.5em 1.5em;
    text-align: center;
}

.dataItem-page2 table.tabel th {
    background-color: #00968870;
}

.dataItem-page2 table.tabel td {
    background-color: #00968810;
}

    /* ================================RESPONSIVE================================ */
.dataItem-responsive {
    padding: 20px;
    box-sizing: border-box;
    display: none;
}

.dataItem-responsive table.tabel {
    border-collapse: collapse;
}

.dataItem-responsive table.tabel th, .dataItem-responsive table.tabel td {
    border: 1px solid #b2ff0070;
    padding: 0.5em 1.5em;
    text-align: center;
    box-sizing: border-box;
}

.dataItem-responsive table.tabel th {
    background-color: #00968870;
}

.dataItem-responsive table.tabel td {
    background-color: #00968810;
}
/* =========================================================DATA ITEM PAGE END========================================================= */




/* =========================================================ADD ITEM PAGE START========================================================= */
.addItem-page2 table#add-item {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.addItem-page2 #add-item label {
    color: #b2ff00;
    padding: 10px;
    margin-right: 50px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.addItem-page2 #add-item input[type="text"] {
    color: #b2ff00;
    background-color: transparent;
    padding: 10px 10px 10px 20px;
    border: 1px solid #b2ff00;
    margin-left: -50px;
    border-radius: 20px;
}

.addItem-page2 #add-item tr td {
    padding: 0px 10px 10px 0px;
}

.addItem-page2 #add-item tr td input{
    margin: 5px;
}

.addItem-page2 #add-item input[type="submit"] {
    color: #b2ff00;
    width: 450px;
    border: 2px solid #009688;
    background-color: #00968880;
    margin: 5px;
    padding: 8px;
    margin-left: -205px;
    border-radius: 20px;
    background-color: #00968890;
    border: 1.5px solid #b2ff00;
}

.addItem-page2 #add-item input[type="submit"]:hover {
    color: #fff;
    border: 2px solid #009688;
    background-color: #b2ff0090;
}

    /* ================================RESPONSIVE================================ */
.addItem-responsive {
    display: none;    
}
/* =========================================================ADD ITEM PAGE END========================================================= */




/* =========================================================EDIT ITEM PAGE START========================================================= */
.editItem-page2 #search {
    margin: 0;
    padding: 0;
    display: flex;
}

.editItem-page2 #search label {
    color: #b2ff00;
    background-color: #00968890;
    border: 1px solid #b2ff00;
    padding: 5px;
}

.editItem-page2 #search input[type="text"] {
    color: #b2ff00;
    background-color: transparent;
    border: 1px solid #b2ff00;
    margin-left: -5px;
    padding: 7.5px 5px 5px 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.editItem-page2 {
    padding: 20px;
    box-sizing: border-box;
}

.editItem-page2 table.tabelEdit {
    border-collapse: collapse;
}

.editItem-page2 table.tabelEdit th, table.tabelEdit td {
    border: 1px solid #b2ff0070;
    padding: 0.5em 1.5em 0.5em 1.5em;
    text-align: center;
}

.editItem-page2 table.tabelEdit th{
    background-color: #00968870;
}

.editItem-page2 table.tabelEdit td {
    background-color: #00968810;
}

.editItem-page2 td.edit a {
    text-decoration: none;
    color: #009688;
font-size: 80%;
}

.editItem-page2 td.edit a:hover {
    text-decoration: underline;
    color: #b2ff00;
}

    /* ================================RESPONSIVE================================ */
.editItem-responsive {
    display: none;
}

.editItem-responsive #search {
    margin: 0;
    padding: 0;
    display: flex;
}

.editItem-responsive #search label {
    color: #b2ff00;
    background-color: #00968890;
    border: 1px solid #b2ff00;
    padding: 5px;
}

.editItem-responsive #search input[type="text"] {
    color: #b2ff00;
    background-color: transparent;
    border: 1px solid #b2ff00;
    margin-left: -5px;
    padding: 7.5px 5px 5px 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.editItem-responsive {
    padding: 20px;
    box-sizing: border-box;
}

.editItem-responsive table.tabelEdit {
    border-collapse: collapse;
}

.editItem-responsive table.tabelEdit th, table.tabelEdit td {
    border: 1px solid #b2ff0070;
    padding: 0.5em 1.5em 0.5em 1.5em;
    text-align: center;
}

.editItem-responsive table.tabelEdit th{
    background-color: #00968870;
}

.editItem-responsive table.tabelEdit td {
    background-color: #00968810;
}

.editItem-responsive td.edit a {
    text-decoration: none;
    color: #009688;
    font-size: 80%;
}

.editItem-responsive td.edit a:hover {
    text-decoration: underline;
    color: #b2ff00;
}
/* =========================================================EDIT ITEM PAGE END========================================================= */




/* =========================================================UPDATE ITEM PAGE START========================================================= */
.updateItem-page2 .update {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.updateItem-page2 .update label {
    color: #b2ff00;
    padding: 10px;
    padding-left: 15px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.updateItem-page2 .update input[type="text"] {
    color: #b2ff00;
    background-color: transparent;
    padding: 10px 10px 10px 20px;
    border: 1px solid #b2ff00;
    margin-left: -50px;
    border-radius: 20px;
}

.updateItem-page2 .update tr td {
    padding: 0px 10px 10px 0px;
}

.updateItem-page2 .update tr td input{
    margin: 5px;
}

.updateItem-page2 .update input[type="submit"], .updateItem-page2 .update input[type="reset"], .updateItem-page2 .update input[type="button"]  {
    color: #b2ff00;
    width: 150px;
    border: 2px solid #009688;
    background-color: #00968880;
    margin: 5px;
    padding: 8px;
    border-radius: 20px;
    background-color: #00968890;
    border: 1.5px solid #b2ff00;
}

.updateItem-page2 .update input[type="submit"] {
    margin-left: -490px;
}

.updateItem-page2 .update input[type="reset"] {
    margin-left: -340px;
}

.updateItem-page2 .update input[type="button"]  {
    margin-left: -190px;
}

.updateItem-page2 .update input[type="submit"]:hover, .updateItem-page2 .update input[type="reset"]:hover, .updateItem-page2 .update input[type="button"]:hover {
    color: #fff;
    border: 2px solid #009688;
    background-color: #b2ff0090;
}

/* ================================RESPONSIVE================================ */
.updateItem-responsive {
    margin: 20px;
    box-sizing: border-box;
    display: none;
}

.updateItem-responsive .update {
    display: flex;
    justify-content: center;
}

.updateItem-responsive .update label {
    color: #b2ff00;
}

.updateItem-responsive .update input[type="text"] {
    width: 220px;
    color: #b2ff00;
    text-align: center;
    background-color: transparent;
    padding: 10px;
    border: 1px solid #b2ff00;
}

.updateItem-responsive .update tr td {
    padding: 0px 10px 5px 10px;
    text-align: center;
}

.updateItem-responsive .update input[type="submit"], .updateItem-responsive .update input[type="reset"], .updateItem-responsive .update input[type="button"]  {
    color: #b2ff00;
    width: 210px;
    border: 2px solid #009688;
    background-color: #00968880;
    margin: 5px;
    padding: 8px;
    border-radius: 10px;
    background-color: #00968890;
    border: 1.5px solid #b2ff00;
}

.updateItem-responsive .update input[type="submit"]:hover, .updateItem-responsive .update input[type="reset"]:hover, .updateItem-responsive .update input[type="button"]:hover {
    color: #fff;
    border: 2px solid #009688;
    background-color: #b2ff0090;;
}

/* =========================================================UPDATE ITEM PAGE END========================================================= */




/* =========================================================ABOUT US PAGE START========================================================= */
.aboutUs-page2 {
    padding: 20px;
    box-sizing: border-box;
}

.aboutUs-page2 table.about {
    border-collapse: collapse;
}

.aboutUs-page2 table.about td {
    border: 1px solid #b2ff0075;
    padding: 10px 20px 10px 20px;
    text-align: left;
}

.aboutUs-page2 table.about th {
    text-align: left;
    border: 1px solid #b2ff0075;
    background-color: #00968850;
    padding: 10px 70px 10px 10px;
}

        /* ================================RESPONSIVE================================ */
.aboutUs-responsive {
    padding: 20px;
    box-sizing: border-box;
    display: none;
}

.aboutUs-responsive table.about {
    border-collapse: collapse;
    text-align: center;
}

.aboutUs-responsive table.about td {
    border: 1px solid #b2ff0075;
    padding: 10px 20px 10px 20px;
}

.aboutUs-responsive table.about td.spasi {
    border: none;
    color: transparent;
}

.aboutUs-responsive table.about th {
    border: 1px solid #b2ff0075;
    background-color: #00968850;
    padding: 10px 70px 10px 10px;
    box-sizing: border-box;
}
/* =========================================================ABOUT US PAGE END========================================================= */




/* =========================================================CREDITS PAGE START========================================================= */
.credits-page2 p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 120%;
    margin: 10px 20px;
    padding: 10px;
    text-align: center;
    line-height: 30px;
    box-sizing: border-box;
}
/* =========================================================CREDITS PAGE END========================================================= */




/* =========================================================RESPONSIVE START========================================================= */

    /* ================================TABLET MODE================================ */
@media screen and ( max-width: 800px) {

    /* ============ALL============ */
        .right-side ul {
            width: 60vw;
        }
    
    /* ============HOME============ */ 
        .home-page1 img {
            border: 4px solid #009688;
            width: 260px;
        }
        
        .home-page2 h1 {
            font-size: 200%;
        }
        
        .home-page2 h2 {
            font-size: 80%;
        }

    /* ============DATA ITEM============ */
        .dataItem-page2 {
            display: none;
        }
        
        .dataItem-responsive {
            display: block;
        }  

        .dataItem-responsive .tabel .spasi {
            border: none;
            color: transparent;
        }

    /* ============ADD ITEM============ */

    /* ============EDIT ITEM============ */
        .editItem-page2 {
            display: none;
        }

        .editItem-responsive {
            display: block;
        }

        .editItem-responsive #container .tabelEdit tr a {
            padding: 8px 30px;
            box-sizing: border-box;
        }

        .editItem-responsive .tabelEdit .spasi {
            border: none;
            color: transparent;
        }

    /* ============UPDATE ITEM============ */
        .updateItem-page2 .update input[type="text"] {
            width: 250px;
        }

        .updateItem-page2 .update input[type="submit"], .updateItem-page2 .update input[type="reset"], .updateItem-page2 .update input[type="button"]  {
            width: 120px;
        }

        .updateItem-page2 .update input[type="submit"] {
            margin-left: -410px;
        }

        .updateItem-page2 .update input[type="reset"] {
            margin-left: -285px;
        }

        .updateItem-page2 .update input[type="button"]  {
            margin-left: -160px;
        }

    /* ============ABOUT US============ */
        .aboutUs-responsive table.about th {
            padding: 10px 10px 10px 10px;
            box-sizing: border-box;
        }

    /* ============CREDITS============ */
        .credits-page2 p {
            font-size: 110%;
        }
}




    /* ================================MOBILE MODE================================ */
@media screen and ( max-width: 576px) {

    /* ============ALL============ */
        .menu-toggle {
            display: flex;
        }
    
        .right-side ul {
            position: absolute;
            right: 0;
            top: 0;
            height: 100vh;
            width: 80%;
            flex-direction: column;
            background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../gambar/gambar-nav.png);
            align-items: center;
            justify-content: space-evenly;
            z-index: -2;
            transform: translateX(100%);
            transition: all 1s;
            opacity: 0;
        }
        
        .right-side ul.slide {
            opacity: 1;
            transform: translateX(0);
        }

        .right-side ul li span.span-home {
            display: none;
            height: 7px;
            width: 100%;
            background-color: #889796;
            border-radius: 5px;
            margin-top: 1px;
            transform: translateX(45);
        }

        .right-side ul li a {
            color: white;
            padding: 10px 60px;
            background-color: #009688;
            border: 1px solid #009688;
            border-radius: 25px;
        }

        .right-side ul li a:hover {
            color: #b2ff00;
            padding: 10px 60px 10px 60px;
            background-color: #00968880;
            border: 1px solid #b2ff00;
            border-radius: 25px;
            transition: 0.2s;
        }

    /* ============HOME============ */
        .home-page1 img {
            border: 3px solid #009688;
            width: 220px;
        }
        
        .home-page2 h1 {
            font-size: 180%;
        }
        
        .home-page2 h2 {
            font-size: 70%;
        }

    /* ============DATA ITEM============ */
        .dataItem-responsive table.tabel th, .dataItem-responsive table.tabel td {
            padding: 0.5em;
        }  

    /* ============ADD ITEM============ */
        .addItem-page2 {
            display: none;
        }    

        .addItem-responsive {
            display: block;    
        }
        
        .addItem-responsive table#add-item {
            border-collapse: collapse;
        }
        
        .addItem-responsive #add-item label {
            color: #b2ff00;
        }
        
        .addItem-responsive #add-item input[type="text"] {
            color: #b2ff00;
            background-color: transparent;
            padding: 10px;
            border: 1px solid #b2ff00;
            text-align: center;
            width: 250px;
        }
        
        .addItem-responsive #add-item tr td {
            padding: 0px 10px 10px 10px;
            text-align: center;
            width: 250px;
        }
        
        .addItem-responsive #add-item input[type="submit"] {
            color: #b2ff00;
            width: 250px;
            border: 2px solid #009688;
            background-color: #00968880;
            margin: 5px;
            padding: 8px;
            border-radius: 10px;
            background-color: #00968890;
            border: 1.5px solid #b2ff00;
        }
        
        .addItem-responsive #add-item input[type="submit"]:hover {
            color: #fff;
            border: 2px solid #009688;
            background-color: #b2ff0090;
        }

    /* ============EDIT ITEM============ */
        .editItem-responsive #search label {
            padding: 7px 8px 5.5px 8px;
            font-size: 70%;
        }

        .editItem-responsive #search input[type="text"] {    
            padding: 5px;
            width: 140px;
        }

        .editItem-responsive table.tabelEdit th, table.tabelEdit td {
            padding: 0.5em 0.3em 0.5em 0.3em;
        }

    /* ============UPDATE ITEM============ */
        .updateItem-page2 {
            display: none;
        }

        .updateItem-responsive {
            display: block;
        }

    /* ============ABOUT US============ */
        .aboutUs-page2 {
            display: none;
        }

        .aboutUs-responsive {
            display: block;
        }

    /* ============CREDITS============ */
        .credits-page2 p {
            font-size: 100%;
            margin: 10px 10px;
            padding: 1px;
        }
}
/* =========================================================RESPONSIVE END========================================================= */